:root {
  --color-darkest: #022d58;
  --color-dark: #0a5096;
  --color-medium: #ced4da;
  --color-light: #b2d7fa;

  --color-theme: #1098ad;
  --color-accent: #ffa94d;
}

@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  color: var(--color-light);
  background-color: var(--color-darkest);
  padding: 3.2rem;
}

.logo {
  animation: rotate 50s linear infinite;
}

/*Setting the continuous rotation*/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  width: 50rem;
}

.app-header {
  width: 100%;
  max-width: 66rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.error {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem;
  background-color: #495057;
  border-radius: 100px;
}

img {
  width: 14rem;
}

h1 {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5.6rem;
  text-align: center;
  width: 100%;
  margin-top: 0.3em;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

h3 {
  font-family: "Fredericka the Great", serif;
  font-style: normal;
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}

h4 {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  text-align: center;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  margin-bottom: 4rem;
  display: grid;
  justify-content: space-between;
  gap: 1.2rem;
  grid-template-columns: auto auto;
  font-size: 1.8rem;
  color: var(--color-medium);
}

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: var(--color-medium);
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: var(--color-theme);
  border-radius: 100px;
}

.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  border: 2px solid #1098ad;
  background-color: var(--color-dark);
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

/*Only apply the hoover if the button is not disabled.*/
.btn:not([disabled]):hover {
  background-color: var(--color-darkest);
}

/*Moves if btn is not diabled*/
.btn-option:not([disabled]):hover {
  transform: translateX(1.2rem);
}

/*Applies the not-allowed curso if the btn is disabled*/
.btn[disabled]:hover {
  cursor: not-allowed;
}

.btn:not([disabled]):hover,
.btn-option.btn:not([disabled]):hover {
  background-color: var(--color-darkest);
  box-shadow: 0 0 6px 2px rgba(63, 177, 238, 0.781);
}

.btn-ui {
  float: right;
}

.btnStart {
  width: 100%;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.btn-option {
  width: 100%;
  text-align: left;
}

.btnGroup {
  display: flex;
  justify-content: space-around;
  padding-top: 2.2rem;
  margin-bottom: 1.5rem;
  /* margin-right: 0; */
}

.btn-user-option {
  width: 22%;
  margin-bottom: 3.2rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50px;
  border: 2px solid #1098ad;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  cursor: pointer;
}

.btn-user-option:hover {
  background-color: var(--color-darkest);
  box-shadow: 0 0 6px 2px rgba(63, 177, 238, 0.781);
}

.btnSelected {
  background-color: var(--color-darkest);
  box-shadow: 0 0 6px 2px rgba(135, 197, 230, 0.781),
    0 0 6px 3px rgba(121, 21, 228, 0.781);
}

.btn-option.correct {
  background-color: rgb(225, 251, 186);
  border: 2px solid rgb(1, 127, 1);
  color: rgb(1, 127, 1);
}
.btn-option.wrong {
  background-color: #fed8d8;
  border: 2px solid #8d0404;
  color: #820404;
}

.answer {
  transform: translateX(2rem);
}

.result {
  background-color: var(--color-theme);
  color: var(--color-light);
  border-radius: 100px;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.result span {
  font-size: 2.2rem;
  margin-right: 4px;
}

.highscore {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

.score {
  color: #bdf2f6;
  text-shadow: 0 0 2px #72e8cf, 1px 1px 6px #10352d;
}

.timeElapsed {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1.8rem;
}

.timeElapsed strong {
  color: #f4faff;
  text-shadow: 0 0 2px #a3bfff, 0 0 2px #5665ed;
  font-weight: 600;
  letter-spacing: 2px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.6rem;

  color: var(--color-medium);
  font-size: 1.4rem;
}

.timer {
  float: left;
  font-size: 1.8rem;
  color: var(--color-medium);
  border: 2px solid var(--color-dark);
  padding: 1.35rem 2.8rem;
  border-radius: 100px;
}

/* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
      50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 6rem;
}

.counter * {
  font-size: inherit;
  padding: 0.8rem;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 768px) {
  .main,
  .app-header {
    width: 90%;
  }

  .options {
    gap: 0.8rem;
  }

  .btn {
    font-size: 1.9rem;
    padding: 1rem 2rem;
  }

  h1 {
    font-size: 4.2rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3,
  h4 {
    font-size: 2rem;
  }

  .timer,
  .btn-ui {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
}

/* Mobile breakpoint */
@media (max-width: 480px) {
  body {
    padding: 1rem 1rem 2rem 1rem;
  }

  html,
  body {
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  h1 {
    margin-top: 1em;
    padding-bottom: 0;
  }

  h3 {
    margin-top: 2.4rem;
    margin-bottom: 1rem;
    justify-content: center;
    font-size: 2.2rem;
  }

  h4 {
    margin-top: 3rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .app {
    min-height: 80vh;
  }

  .app-header {
    margin-bottom: 3rem;
  }

  .main,
  .app-header {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 8rem;
    margin-bottom: 1rem;
  }

  .progress {
    font-size: 1.8rem;
    gap: 0.8rem;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
  }

  .btn {
    font-size: 1.6rem;
    padding: 0.8rem 1.6rem;
  }

  .btnGroup {
    margin-bottom: 1.5rem;
    padding-top: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
  }

  .btnStart {
    width: 95%;
    height: 5rem;
    /* margin-top: 16rem; */
    margin-top: 0;
    margin-bottom: 1rem;
    bottom: 3rem;
    font-weight: 600;
    font-size: 2rem;
  }

  .timer {
    font-size: 2.3rem;
    padding: 0.8rem 1.6rem;
  }

  .btn-user-option {
    font-size: 1.8rem;
  }

  .btn-option {
    margin-bottom: 0.5rem;
    height: 6rem;
  }

  .btnNext {
    margin-top: 1.5rem;
    font-size: 2.3rem;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    /* padding: 1.35rem 2.8rem; */
  }

  .result,
  .highscore {
    font-size: 1.6rem;
    padding: 1.2rem;
  }

  .start {
    /* justify-content: space-between; */
    display: flex;
    flex-direction: column;
    justify-content: center; /* centraliza verticalmente */
    align-items: center;
    min-height: calc(100vh - 4rem); /* altura visível menos o padding */
  }
  .counter {
    margin: 2rem;
    font-size: 1.6rem;
  }
}
